.card{
    width: 270px;
    /* height: 180px; */
    border: 1px solid rgba(128, 128, 136, 1);
    /* padding: 10px; */
    border-radius: 10px;
}
.card .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    border-radius: 10px;
}
.card .card-name {
    
}
.card .card-icon{
    padding: 10px;
    border-radius: 10px;
}

.card .card-top .card-name h3{
    font-size: 1.5em;
    
}
.card .card-top .card-name p{
    font-size: 1.125em;
    
}
.card .card-top .card-name{
    /* border: 1px solid red; */
    padding: 10px;
}

.card .card-bottom{
    margin-top: 30px;
    background-color:  rgba(250, 250, 250, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.card .card-bottom h4{
    color: var(--primary-color);
    background-color:  rgba(250, 250, 250, 1);

}
.card .card-bottom .card-month{
    background-color: rgba(250, 250, 250, 1);
}