.search-input{
    display: flex;
    border: 1px solid rgb(142, 143, 142);
    width: 70%;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:7px;
    
}
.search-input input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4em;
    padding: 10px;
    
}
.search-input img{
    object-fit: contain;
    

}